@page
@model Final_Project_G7.Pages.Contacts.CreateModel

@{
    ViewData["Title"] = "Create";
}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-FfS8aR5LUGAAgphWfuZ18tk8YYPLd7y5sR/08SueVX3pZ5XvApyI5N2tU7+89xS" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa; /* Light gray background */
            color: #333;
        }

        header {
            background-color: #0e334f; /* Primary blue color */
            color: white;
            padding: 20px;
            text-align: center;
        }

        .btn-secondary {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<hr />
<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contact.Name" class="control-label"></label>
                <input asp-for="Contact.Name" class="form-control" />
                <span asp-validation-for="Contact.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Address" class="control-label"></label>
                <input asp-for="Contact.Address" class="form-control" />
                <span asp-validation-for="Contact.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.City" class="control-label"></label>
                <input asp-for="Contact.City" class="form-control" />
                <span asp-validation-for="Contact.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.State" class="control-label"></label>
                <input asp-for="Contact.State" class="form-control" />
                <span asp-validation-for="Contact.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Zip" class="control-label"></label>
                <input asp-for="Contact.Zip" class="form-control" />
                <span asp-validation-for="Contact.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Email" class="control-label"></label>
                <input asp-for="Contact.Email" class="form-control" />
                <span asp-validation-for="Contact.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
